<?php
date_default_timezone_set('Asia/Manila'); // Set your local timezone

$servername = "localhost";        // Database host
$username = "root";               // Database username
$password = "";                   // Database password
$dbname = "peerlink";             // Database name

// Establish the MySQLi Connection
$conn = new mysqli($servername, $username, $password, $dbname);

// Check Connection
if ($conn->connect_error) { 
    die("Connection failed: " . $conn->connect_error); 
}
?>
